 .niramit-extralight {
     font-family: "Niramit", sans-serif;
     font-weight: 200;
     font-style: normal;
 }

 .niramit-light {
     font-family: "Niramit", sans-serif;
     font-weight: 300;
     font-style: normal;
 }

 .niramit-regular {
     font-family: "Niramit", sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .niramit-medium {
     font-family: "Niramit", sans-serif;
     font-weight: 500;
     font-style: normal;
 }

 .niramit-semibold {
     font-family: "Niramit", sans-serif;
     font-weight: 600;
     font-style: normal;
 }

 .niramit-bold {
     font-family: "Niramit", sans-serif;
     font-weight: 700;
     font-style: normal;
 }

 .niramit-extralight-italic {
     font-family: "Niramit", sans-serif;
     font-weight: 200;
     font-style: italic;
 }

 .niramit-light-italic {
     font-family: "Niramit", sans-serif;
     font-weight: 300;
     font-style: italic;
 }

 .niramit-regular-italic {
     font-family: "Niramit", sans-serif;
     font-weight: 400;
     font-style: italic;
 }

 .niramit-medium-italic {
     font-family: "Niramit", sans-serif;
     font-weight: 500;
     font-style: italic;
 }

 .niramit-semibold-italic {
     font-family: "Niramit", sans-serif;
     font-weight: 600;
     font-style: italic;
 }

 .niramit-bold-italic {
     font-family: "Niramit", sans-serif;
     font-weight: 700;
     font-style: italic;
 }

 body {
     background-color: wheat;
 }

 .header-text {
     text-align: center;
     color: rgb(0, 0, 0);
 }

 .header-container {
     background-color: rgb(243, 47, 47);
     padding: 2;
     border-radius: 10px;
     width: 60%;
 }

 .flex-header {
     display: flex;
     justify-content: center;
 }

 .img-container img {
    padding: 2%;
    display: block;
    margin: 20px auto; /*  ขยับรูปออกจากพื้นหลัง */
    background-color: gold;
    border-radius: 15%;
}


 .nav-menu-container {
     background-color: rgb(68, 161, 243);
     margin-top: 1%;
     margin-bottom: 1%;
     padding: 1%;
     border-radius: 10px;
 }

 .nav-menu-item {
     margin-left: 1%;
     margin-right: 1%;
     text-decoration: none;
     color: rgb(0, 17, 255)
 }